/* font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
/* font */

body{
    font-family: 'Work Sans', sans-serif;
    background-color: #e3d7c9;
    
}
.header{
    background-color: #e3d7c9;
}
.opning-header h2{
    font-weight: 700;
    font-size: 45px;
    margin-left: 30px;
   
}
.opning-header{
    display: flex;
    justify-content: space-between;
    margin-top:  50px ;
    margin-left: 120px;
}
@media screen and (max-width: 600px){
    .header{
        font-size: 36px;
        line-height: 50px;
        display: grid;
        
    }
    .opning-header{
        flex-wrap: wrap;
       
    }
    .container{
        justify-content: center;
    }
}

/* nav */
nav li{
    list-style: none;
    margin-left: 50px;
    margin-top: 30px;
    margin-right: 30px;
}
nav ul{
    display: flex;
}
/* container */
.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
   
}
/* .btn-primary{
    width: 180px;
    height: 64px;
    background: orangered;
} */
.fast-middle  {
    text-align: center;
    font-size: 50px;
    margin-top: 40px;
}
.passage{
    text-decoration: none;
    font-size: 20px;
}
.banner-img{
       width: 100%;
       /* margin: 2px auto; */
       display: grid;
       margin-left: 250px;
       /* margin-bottom: 20px; */
       
}
.btn-primary{
    height: 40px;
    border-radius: 6px;
    background: #FF900E;
}
 /* mobile device */
 @media only screen and (max-width: 600px) {
    .body{
        font-size: 36px;
        line-height: 50px;
    }
}
 /* feature-part */
 .features{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: whitesmoke;
    width: 100%;
 }
 .feature-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
    margin-left: 250px;
    margin-top: 50px;
 }
 .orange-text{
    color: #FF900E;
 }
 .bold{
    font-weight: 700;
    font-size: 45px;
 }
 .feature-title{
    margin-top: 250px;
    margin-left: 100px;
    list-style: none;
    font-weight: 500;
    font-size: 45px;
    color: #727272;
 }
 .feature-lower{
    margin-left: 00px;
    width: 537px;
    height: 78px;
    font-size: 18px;
 }
 @media only screen and (max-width: 767px){
    .features, .feature-lower {
        width: 100%;
    }
}
/* love and enjoy */
.love-and-enjoy{
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
.love-title{
    font-size: 45px;
    margin-left: 255px;
    text-align: center;
    
}
.enjoy-title{
    font-size: 25px;
    display: flex;
    text-align: center;

}
.inline-item{
    font-size: 15px;
    margin-left: 50px;
    margin-top: 50px;
    box-shadow: inset 5px 3px 2px 1px rgb(181, 155, 155);
}
.architect-girl{
    margin-left: 80px;
    margin-top: 80px;
}


/* facts  */
.Facts-on{
   
    background-color: whitesmoke;
}
.shadow-box{
       text-align: center;
        position: relative;
        box-shadow: 0px 0px 10px #FF900E;  
}
.shadow-box, img{
    margin-top: 16px;
    margin-bottom: -20px;
}
.icon-of{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 250px;
}
.Facts-on, h3{
   
    font-size: 40px;
    color: #131313;
}

.Facts-on, p{
    font-size: 20px;
    color: #727272;
}
.fact-move{
    margin-left: 200px;
    margin-top: 150px;
    margin-right: 200px;
    margin-bottom: 150px;
}
/* last module */

.Sponspors{
    background-color: whitesmoke;

}
.last-line, h3 , p{
 text-align: center;
}
.last-module{
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    grid-gap: 200px
    

}
.last-module{
    margin-left: 200px;
    margin-top: 150px;
    margin-right: 200px;
    margin-bottom: 150px;
    mix-blend-mode: luminosity;
}
/* footer */
